
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      additional_contexts:
         plugins: ../plugins/react
    ports:
      - "8080:80"
    env_file:
      - .env
    restart: always

